@font-face {
    font-family: "IBM Plex Mono";
    src:
        local("IBM Plex Mono"),
        url("../fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
